body {
    background: #14171a;
  }

  .banner {
    background: url("https://images.unsplash.com/photo-1549286633-b81cf3179c80?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=752&q=80");
    width: 100%;
    height: 300px;
    border-bottom: 1px groove rgb(121, 121, 121);
    border-radius: 5px;
  }

  .container {
    max-width: 800px;
    border-right: 1px groove rgb(121, 121, 121);
    border-left: 1px groove rgb(121, 121, 121);
    padding: 0;
  }

  .profile img {
    width: 150px;
    height: 150px;
    position: absolute;
    border-style: solid;
    border-width: 4px;
    border-color: #14171a;
    top: 30%;
    left: 25%;
  }

  .description {
    padding: 3rem;
    padding-bottom: 2rem;
  }

  .description .name {
    color: white;
    margin-top: 1rem;
  }

  .description .bio {
    color: white;
  }

  .description .bio-link {
    color: rgb(139, 139, 139);
  }

  .description .socialmedia h5 {
    color: rgb(139, 139, 139);
    font-size: 15px;
    margin-bottom: 18px;
  }

  .media {
    border-bottom: 1px groove rgb(121, 121, 121);
  }

  .media:hover {
    background: rgba(212, 212, 212, 0.096);
  }

  .media img {
    width: 64px;
    height: 64px;
  }

  a.div-blog-content {
    text-decoration: none;
  }

  .share-btn:hover {
    background: rgba(74, 255, 2, 0.144);
    border-radius: 100px;
  }

  section .section-title {
    text-align: center;
    margin-bottom: 50px;
    text-transform: uppercase;
  }

  #tabs {
    color: #eee;
  }

  .border-content {
    border-style: none;
  }

  #tabs h6.section-title {
    color: #eee;
  }

  #tabs .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link.active {
    color: #969696;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 4px solid !important;
    font-weight: bold;
  }
  #tabs .nav-tabs .nav-link {
    border: 1px groove transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-bottom: 1px groove rgb(121, 121, 121);
    color: #969696;
    font-size: 15px;
  }

  /* Large devices (desktops, 992px and up) */
  @media (max-width: 991.98px) {
    .container {
      max-width: 100%;
      border: none;
      padding: 0;
    }

    .profile img {
      width: 120px;
      height: 120px;
      position: absolute;
      top: 28%;
      left: 10%;
    }

    .banner {
      background: url("https://images.unsplash.com/photo-1612831197872-e4e4ca7f623f?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
      width: 100%;
      height: 250px;
    }

    .description {
      padding: 2rem;
    }

    .description .name {
      padding-top: 55px;
    }

    .tab-content {
      padding: 0;
      margin: 0;
    }

    .media img {
      width: 28px;
      height: 28px;
      margin-top: 8px;
    }
  }